.nav_bg {
    background-color: #5cdb95;
    padding: 5px 0;
  }
  .nav_logo {
    font-family: 'Reggae One', cursive;
    font-size: 1.5em;
  }
  .nav_join {
    font-weight: 700;
  }
  
  @media (min-width: 376px) {
  
  }
  @media (min-width: 769px) {
  
  }
  @media (min-width: 1281px) {
  
  }